services:
 blog:
   build:
     context: .
     dockerfile: docker/Dockerfile
   container_name: vuepress-blog
   tty: true
   ports:
     - "8080:8080"
   volumes:
     - ".:/workspace"
   command: yarn dev
   restart: always
